<div class="col-md-3 float-left">
    <a routerLink="bikes">
        <img src="https://cdn.pixabay.com/photo/2019/10/19/19/15/motorcycle-4562069__340.jpg" width= "100%"alt="Bike Image">
    </a>
    <a routerLink="cars">
        <img src="https://cdn.pixabay.com/photo/2016/04/01/12/16/car-1300629__340.png" width= "100%"alt="Car Image">
    </a>
    <a routerLink="planes">
        <img src="https://cdn.pixabay.com/photo/2017/09/28/13/38/aircraft-2795557__340.jpg" width= "100%"alt="Plane Image">
    </a>
</div>
<router-outlet></router-outlet>