<div class="container">
    <div class="row">
        <div class="col-md-4">
                <img src="https://image.shutterstock.com/image-photo/soccer-player-action-mixed-media-260nw-652647784.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card No. 1</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>  
        <div class="col-md-4 " >
                <img src="https://cdn.pixabay.com/photo/2015/11/03/08/54/sport-1019776__340.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card No. 2</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
        </div>
        <div class="col-md-4" >
                <img src="https://cdn.pixabay.com/photo/2015/03/14/18/34/soccer-673599_960_720.jpg" class="card-img-top"
        alt="...">
    <div class="card-body col">
        <h5 class="card-title">Card No. 3</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
    </div>
            </div>
   </div>
</div>
