/* You can add global styles to this file, and also import other style files */
body{
    background:black !important;
    font-family: 'Liu Jian Mao Cao', cursive !important;
    color:white !important;
}